form {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
    border-radius: 10px;
    gap: 20px;
    padding: 30px 30px;
    font-size: 20px;
    margin: auto;
}

.FormInput {
    display: inline-block;
    border-radius: 8px;
    accent-color: var(--color-secondary);
    width: 100%;
    min-height: 2rem;
    padding-inline-start: 0.5rem;
    margin-top: 5px;
    font-size: 18px;
    padding: 6px 12px;
}

.SubmitButton {
    padding: 8px 16px;
    border-radius: 50px;
    width: 150px;
    margin-inline: auto;
    font-size: 20px;
    border: none;
    background-color: white;
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.SubmitButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.FormContainer {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../assets/signup.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    flex-grow: 1;
    align-items: baseline;
    justify-content: center;
}

.FormHeader {
    font-size: 48px;
    text-align: center;
}