.CreateTransactionHeader {
    font-size: 25px;
}

.CreateTransactionForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding-top: 50px;

    label {
        flex: 1;
    }
}

.SubmitTransaction {
    width: 250px;
}